<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/main::commonHead(|${board.id}번 수정|)}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav th:replace="~{layout/main::pageNavbar(_)}"></nav>

<!--.container>.row.justify-content-center>.col.col-lg-6>h2.mb-3-->
<div class="container">
    <div class="row justify-content-center">
        <div class="col col-lg-6">
            <h2 class="mb-3">
                <span th:text="${board.id}">
                    2342
                </span>
                번 게시물 수정
            </h2>
            <form id="editForm" class="mb-3" th:action="@{/board/edit}" method="post">
                <input type="hidden" name="id" th:value="${board.id}">
                <div class="mb-3">
                    <label class="form-label" for="titleInput">제목</label>
                    <input th:value="${board.title}" class="form-control"
                           name="title" type="text" id="titleInput">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="contentTextarea">본문</label>
                    <textarea th:text="${board.content}"
                              class="form-control"
                              name="content"
                              id="contentTextarea" rows="10"></textarea>
                </div>
                <!--                필요없어서 작성자부분 삭제함-->
                <div class="mb-3">
                    <button type="button" class="btn btn-primary"
                            data-bs-toggle="modal"
                            data-bs-target="#editModal">저장
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">
                    저장 확인
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                저장 하시겠습니까?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    취소
                </button>
                <button type="submit" form="editForm" class="btn btn-primary">
                    저장
                </button>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="~{layout/main::commonScript}"/>

</body>
</html>