<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/main::commonHead('게시물 목록')}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
</head>
<body>
<!-- /* navbar */ -->
<nav th:replace="~{layout/main::pageNavbar('list')}"></nav>

<div class="container">
    <div class="row">
        <div class="col">

            <h2 class="mb-3">게시물 목록</h2>

            <div class="mb-3">
                <!--table>thead>tr>th*4^^tbody>tr>td*4-->
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>작성일시</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="board: ${boardList}">
                        <td th:text="${board.id}"></td>
                        <td>
                            <a th:href="@{/board/view(id=${board.id})}" th:text="${board.title}"></a>
                        </td>
                        <td th:text="${board.writer}"></td>
                        <td th:text="${board.createdAt}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- 조회 -->
            <div class="mb-3 pagination justify-content-center">
                <form th:action="@{/board/list}">
                    <div class="input-group">
                        <input class="form-control"
                               type="text"
                               name="keyword"
                               placeholder="제목으로 검색"
                               th:value="${param.keyword ?: ''}">
                        <button class="btn btn-primary">검색</button>
                    </div>
                </form>
            </div>

            <!--nav>ul>li*3>a-->
            <nav>
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:if="${leftPageNumber > 10}">
                        <a class="page-link" th:href="@{/board/list(page=${leftPageNumber - 10})}"
                           th:if="${param.keyword == null}">
                            <span>&laquo;</span>
                        </a>
                        <a class="page-link"
                           th:href="@{/board/list(page=${leftPageNumber - 10}, keyword=${param.keyword})}"
                           th:if="${param.keyword != null}">
                            <span>&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"
                        th:each="pageNumber : ${#numbers.sequence(leftPageNumber, rightPageNumber)}"
                        th:classappend="${(currentPage == pageNumber) ? 'active' : ''}">
                        <a class="page-link"
                           th:href="@{/board/list(page=${pageNumber})}"
                           th:text="${pageNumber}"
                           th:if="${param.keyword == null}">
                        </a>
                        <a class="page-link"
                           th:href="@{/board/list(page=${pageNumber}, keyword=${param.keyword})}"
                           th:text="${pageNumber}"
                           th:if="${param.keyword != null}">
                        </a>
                    </li>
                    <li class="page-item" th:if="${(rightPageNumber + 1) <= totalPages}">
                        <a class="page-link" th:href="@{/board/list(page=${rightPageNumber + 1})}"
                           th:if="${param.keyword == null}">
                            <span>&raquo;</span>
                        </a>
                        <a class="page-link"
                           th:href="@{/board/list(page=${rightPageNumber + 1}, keyword=${param.keyword})}"
                           th:if="${param.keyword != null}">
                            <span>&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
</div>


<!--<div>-->
<!--    <span th:if="${leftPageNumber > 10}">-->
<!--        <a th:href="@{/board/list(page=${leftPageNumber - 10})}">이전</a>-->
<!--        |-->
<!--    </span>-->
<!--    <span th:each="pageNumber : ${#numbers.sequence(leftPageNumber, rightPageNumber)}">-->
<!--        <a th:classappend="${(currentPage == pageNumber) ? 'active' : ''}"-->
<!--           th:href="@{/board/list(page=${pageNumber})}" th:text="${pageNumber}"></a>-->
<!--        |-->
<!--    </span>-->
<!--    <span th:if="${(rightPageNumber + 1) <= totalPages}">-->
<!--        <a th:href="@{/board/list(page=${rightPageNumber + 1})}">다음</a>-->
<!--    </span>-->
<!--</div>-->

<th:block th:replace="~{layout/main::commonScript}"/>
</body>
</html>