<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, th, tr, td {
            border-collapse: collapse;
            border: 1px solid black;
        }

        .active {
            background-color: yellow;
        }
    </style>
</head>
<body>
<h2>게시물 목록</h2>

<!--table>thead>tr>th*4^^tbody>tr>td*4-->
<table>
    <thead>
    <tr>
        <th>#</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일시</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="board: ${boardList}">
        <td th:text="${board.id}"></td>
        <td>
            <a th:href="@{/board/view(id=${board.id})}"
               th:text="${board.title}"></a>
        </td>
        <td th:text="${board.writer}"></td>
        <td th:text="${board.createdAt}"></td>
    </tr>
    </tbody>
</table>
<div>
    <span th:if="${leftPageNumber > 10}">
        <a th:href="@{/board/list(page=${leftPageNumber - 10})}">이전</a>
        |
    </span>
    <span th:each="pageNumber : ${#numbers.sequence(leftPageNumber, rightPageNumber)}">
        <a th:classappend="${(currentPage == pageNumber) ? 'active' : ''}"
           th:href="@{/board/list(page=${pageNumber})}" th:text="${pageNumber}"></a>
        |
    </span>
    <span th:if="${(rightPageNumber + 1) <= totalPages}">
        <a th:href="@{/board/list(page=${rightPageNumber + 1})}">다음</a>

    </span>
</div>

</body>
</html>